
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./imgs/japan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: 'Alegreya Sans SC', sans-serif;
  }

  .main-container {
    display: flex;
    max-width: 800px;
    border: 1px solid red;
    background-color: rgba(255, 255, 255, 0.90);
    border: solid #BDBDBD 1px;
    border-radius: 10px;
    box-shadow: 9px -1px 31px rgba(216, 199, 121, 1); 
    -webkit-box-shadow: 9px -1px 31px rgba(216, 199, 121, 1); 
    -moz-box-shadow: 9px -1px 31px rgba(216, 199, 121, 1); 
  }

  .image-container {
    flex: 1;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  .login-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }

  input {
    color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    height: 25px;
    background-color: #000000;
    /* border-bottom: 1px solid #ff0000; */
    outline: 0;
    
  }

  ::placeholder {
    color: #ffffff;
  }

  button {
    /* border-radius: 10px; */
    background-color: #000000;
    color: #ffffff;
    margin-top: 10px;
    padding: 5px 20px;
  }

  button:hover {
    background-color: #ff0000;
    border: 1px solid #000000;
    cursor: pointer;
    border-radius: 30px;
  
  }
